@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F1B24;
  color: #FFFFF4;

  @media (max-width: 767px) {
    &:has(.freezeScroll) {
      overflow: hidden;
    }
  }
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.noScroll {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
