@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: #FFFFF4;
  color: #161616;
}

.dark {
  background-color: #161616;  
  color: #FFFFF4; 
}

body {  
  @media (max-width: 767px) {
    &:has(.freezeScroll) {
      overflow: hidden;
    }
  }

  &:has(.freezeScrollAllSizes) {
    overflow: hidden;

    & .scrollTopButton {
      display: none;
    }
  }

  &:has(.notFound) > .header {
    position: absolute;
  }
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.noScroll {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.zoom > img {
  transition: transform .4s;
}

.zoom:hover > img {
  transform: scale(1.2);
}

.spin {
  animation: spinFrames 3s ease-in-out;
}

@keyframes spinFrames {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.sessionItem {
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);
}