@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #181818;
  color: #FFFFF4;
  
  @media (max-width: 767px) {
    &:has(.freezeScroll) {
      overflow: hidden;
    }
  }

  &:has(.freezeScrollAllSizes) {
    overflow: hidden;
  }

  &:has(.notFound) > .header {
    position: absolute;
  }
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.noScroll {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
